*
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
}

a
{
    text-decoration: none;
    color: black;
}
/*Code for index.html*/


.header
{
    display: flex;
    justify-content: space-around;
}

.footer
{
    display: flex;
    justify-content: space-around;
}




.nav
{
    margin-top: 30px;
    display: flex;
}
.navElem
{
    font-size: 20px;
    display: inline;
}

.works
{
    display: flex;
    justify-content: space-around;
}
.work_card
{
    border-radius: 2px;
    box-shadow: 2px 2px 1px black;
}